<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1>Angular CRUD Demo</h1>
    <div class="d-flex">
      <button type="button" (click)="clickAddEmployee()" class="btn btn-primary" data-toggle="modal"
        data-target="#exampleModal">Add Employee</button>
    </div>
  </div>
</nav>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="inputEmail3" class="form-label">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" id="inputEmail3"
              placeholder="First Name">
          </div>
          <div class="mb-3">
            <label for="inputPassword3" class="form-label">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" id="inputPassword3"
              placeholder="Last Name">
          </div>
          <div class="mb-3">
            <label for="inputPassword3" class="form-label">Email</label>
            <input type="email" formControlName="email" class="form-control" id="inputPassword3" placeholder="Emai">
          </div>
          <div class="mb-3">
            <label for="inputPassword3" class="form-label">Mobiel Number</label>
            <input type="number" formControlName="mobile" class="form-control" id="inputPassword3"
              placeholder="Mobiel Number">
          </div>
          <div class="mb-3">
            <label for="inputPassword3" class="form-label">Salary</label>
            <input type="number" formControlName="salary" class="form-control" id="inputPassword3" placeholder="Salary">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" *ngIf="showAdd" (click)="postEmployeeDetails()" class="btn btn-primary">Add</button>
        <button type="button" *ngIf="showUpdate" (click)="upDateEmployeeDetails()"
          class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>

<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Employee Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email Id</th>
      <th scope="col">Mobile No</th>
      <th scope="col">Salary</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of employeeData">
      <td>{{row.id}}</td>
      <td>{{row.firstName}}</td>
      <td>{{row.lastName}}</td>
      <td>{{row.email}}</td>
      <td>{{row.mobile}}</td>
      <td>{{row.salary}}</td>
      <td>
        <button class="btn btn-info" (click)="onEdit(row)" data-toggle="modal" data-target="#exampleModal">Edit</button>
        <button (click)="deleteEmployee(row)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>